<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#"><img src="../../assets/Cyprus.jpg" height="35" width="30"><b>CYPRUS</b> CORPORATE CENTRE</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/aboutus']">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/contactus']">Contact us</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Services
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Vaccum Dewatering Floor</a>
        <a class="dropdown-item" href="#">Epoxy Fooring</a>
        <a class="dropdown-item" href="#">Electrical Work</a>
        
      </div>
    </li>
     <!-- Dropdown -->
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Products
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Construction Machineries</a>
          <a class="dropdown-item" href="#">Survey Equipments</a>
          <a class="dropdown-item" href="#"></a>
          
        </div>
      </li>
  </ul>
</nav>
