<div class="container">
  <div class="jumbotron service">
    <h1 class="subtitle"> Our Services</h1>
    <br/>
    <h5 class="subtitle">EPOXY FLOORING</h5>
    <br/>
    <div class="para">
      Epoxy is a term that’s come to represent a class of materials and the act of using those materials. Epoxy “systems” are based
      on a combination of resins and hardeners. When mixed together, the resin and hardener chemically react to form a rigid
      plastic material. The final material is strong, durable, resistant, and bonds extremely well to most base layers. Epoxy
      floors are so strong that they’re often used in heavy traffic areas such as industrial environments, hospitals, or
      sports facilities.<br>
      Many facilities that have already experienced the benefits of epoxy flooring are commercial or industrial buildings 
      such as manufacturing plants, warehouses, pharmaceutical buildings,food or beverage plants, even laboratories. Here
       are the major benefits of installing epoxy coating in your building:<br>
       1.Durability: Concrete floors coated in epoxy last longer and resist considerable wear, thus saving you money and 
           allowing you to manage other business concerns.<br>
       2.Strength: Once the epoxy has been converted to a solid polymer, it becomes incredibly strong and prevents chemical
           breakdown.<br>
       3.Saves time: Epoxy flooring is usually quickly and easily installed, which means less time shutting down production for
           installation.<br>
       4.Low maintenance cleaning: Once concrete has the epoxy coating, it is no longer porous since sealed and is therefore 
           easier to clean.<br>
       5.Aesthetic: Coatings are usually available in an array of colors and patterns to fit your specific style.<br>
       6.Chemically resistant: Epoxy coatings can survive continued exposure to potent chemicals, which is perfect for warehouses 
           or plants that may be exposed to such materials.<br>
       7.Safety: These coatings are also resistant to slippage, temperature, extreme impact and even fire, maintaining both 
       the safety of your employees and your building<br>
       8.Lowers vehicle maintenance: Choosing an epoxy coating can also reduce wear on vehicles in your facility because it is
        more forgiving on machinery.<br>
       9.Helps the environment: Lastly, epoxy coatings are a green option for your business because of the reduction in
        material usage. It is a great alternative to adding on a completely new floor or replacing vehicles due to damage.<br>

    </div>
    <br/>
    <div class="row">
      <div class="col-sm-4">
        <img src="../../assets/epoxy.jpg" alt="Cyprus machine1" height="250" width="300">
        <br/>
      </div>
      <div class="col-sm-4">
        <img src="../../assets/pu.jpg" alt="Cyprus machine1" height="250" width="300">
        <br/>
      </div>
      <div class="col-sm-4">
        <img src="../../assets/Epoxy_3.jpg" alt="Cyprus machine1" height="250" width="300">
        <br/>
      </div>
    </div>
    <br/>
    <h5 class="subtitle">VACUUM DEWATERING FLOORING</h5>
    <br/>
    <div class="para">
      Tremix, as is popularly known in India, is actually Vacuum Dewatering process of concrete. It was originally invented by
      Tremix AB, Sweden many years ago. This process was introduced in India by Aquarius Technologies in 1987. It became
      so popular in India that almost everybody related to concrete flooring industry, may be manufacturers / contractors
      / consultants started calling this process by the name of its inventor.
      <br/>
      <br/> The process essentially comprises of concrete levelling by Surface Vibrators, removal of excess water with the help
      of Vacuum Pump and Suction Mats, and finishing the hardened concrete by Skimfloater / Power Trowel. If applied correctly,
      this process gives definite advantages i.e. higher compressive strength, even finish, better joints, increased wear
      resistance, less curing time etc. (please refer the Product catalogue for more information). The key part in this process
      is the Vacuum Pump, Top Cover and Filter Pads as the performance of these determines the effectiveness of the process.
      Bubble shaped Filter pads gives the best results as there is always free space for water to flow. The substitutes which
      are commonly found on sites are made of Nylon nets and do not dewater the concrete correctly as there is no passage
      for water to flow. The effectiveness of dewatering can be easily seen after the dewatering is stopped.
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img src="../../assets/vdf 3.jpg" alt="Cyprus machine2" height="250" width="300">
      </div>
      <div class="col-sm-4">
        <img src="../../assets/v.jpg" alt="Cyprus machine2" height="250" width="300">
        <br>
      </div>
      <div class="col-sm-4">
        <img src="../../assets/vaccum.jpg" alt="Cyprus machine2" height="250" width="300">
        <br>
      </div>
    </div>
    <br/>
    <h5 class="subtitle">KOTASTONE AND GRANITE FITTING</h5>
    <br/>
    <div class="para">
      Kota Stone is a naturally available, fine-grained variety of limestone originated from Kota, Rajasthan. Its alluring natural 
      look, durability and low cost makes it the most extensively usedmaterialin both the interiors and exteriors of houses and 
      commercial areas. Kota is well known for its shiny appearance andcharming colours, and ages beautifully over time. 
      <br/>
      <br/> 
      Granite, a quartz-based stone, is often considered the queen of the stones for flooring purposes.Granite is particularly 
      hard, ensuring durability and water- and staining resistance. Though largely moisture-resistant, it should be sealed in 
       moisture-prone rooms.
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img src="../../assets/kota.jpg" alt="Cyprus machine2" height="250" width="300">
      </div>
      <div class="col-sm-4">
        <img src="../../assets/granite2.jpg" alt="Cyprus machine2" height="250" width="300">
        <br>
      </div>
      <div class="col-sm-4">
        <img src="../../assets/kota2.jpg" alt="Cyprus machine2" height="250" width="300">
        <br>
      </div>
    </div>
    <br/>
    <h5 class="subtitle">WATER PROOFING</h5>
    <br/>
    <div class="para">
      Waterproofing is the process of making an object or structure waterproof or water-resistant so that it remains relatively
      unaffected by water or resisting the ingress of water under specified conditions. Such items may be used in wet environments
      or underwater to specified depths.
      <br/>
      <br/> Water resistant and waterproof often refer to penetration of water in its liquid state and possibly under pressure,
      whereas damp proof refers to resistance to humidity or dampness.[1] Permeation of water vapor through a material or
      structure is reported as a moisture vapor transmission rate.
      <br/>
      <br/> The hulls of boats and ships were once waterproofed by applying tar or pitch. Modern items may be waterproofed by
      applying water-repellent coatings or by sealing seams with gaskets or o-rings.
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-4">
        <img src="../../assets/water.jpg" alt="Cyprus machine3" height="250" width="300">
      </div>
      <div class="col-sm-4">
        <img src="../../assets/water_Proof_1.jpg" alt="Cyprus machine3" height="250" width="300">
      </div>
      <div class="col-sm-4">
        <img src="../../assets/water_Proof.jpg" alt="Cyprus machine3" height="250" width="300">
      </div>
    </div>
  </div>
  
</div>
