
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        
        .bg {
            /* The image used */
            background-image: url("../../assets/bd.jpg");
        
            /* Full height */
            height: 100%; 
        
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        </style>
        </head>
<body>        

<div class="bg">


<h3>CONTACT DETAILS</h3>
  <b> Adress:</b><br>
  House No.-7/77,New Colony Dhaiya,<br>
  S.K. Kundu Lane,Near Dhaiya Durga Mandir,<br>
  I.S.M.,Dhanbad-826004,<br>
  Jharkhand,India<br>
  <h4>Mobile:</h4>
  
  +91 8240539160<br>
  +91 6204989655<br>
  +91 7970635228<br>
  +91 7321800909<br>
  +91 9113433507<br>
  ksbdkjvsdncjnzn,mcn<br>
  zvjxc nmckj hm nbmf<br>
  kjdjhdvnvnkfdjbkfk<br>
</div>
</body>
</html>





  

