.contact {
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url('../../assets/bd.jpg') no-repeat;
    background-size: cover;
    background-size: 100% 100%;
  }
  .subtitle {
  color: darkblue;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
}

.details {
  color: blue;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  font-weight: bold;
}
.contactusform{
  height: 200px;
  width: 500px;
  text-align: center;
}

.lbl{
  color: navy;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  background: lightblue;
}
