.title{
  color: navy;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.body{
  text-align: center;
}

.subtitle{
  color: darkblue;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
}
